.success-color{
  color: #67C23A;
}
.warning-color{
  color: #E6A23C;
}
.danger-color{
  color: #F56C6C;
}
.blue-color{
  color: #2d8cf0;
}
.light-blue-color{
  color: #5cadff;
}
.dark-blue-color{
  color: #2b85e4;
}
.icon-color{
  color: #808695;
}
.black-color{
  color: #000000;
}
.title-color{
  color: #333333;
}
.text-color{
  color: #666666;
}
.light-color{
  color: #999999;
}
.placeholder-color{
  color: #9B9B9B;
}
.light-white-color{
  color: #EEEEEE;
}
.white-color{
  color: #FFFFFF;
}
.f6-color{
  color: #F6F6F6;
}
.f8-color{
  color: #f8f8f9;
}
